<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="assets/images/logo-bustle-1-thumbp.png">
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">News</a></li>
      <li><a href="#">Entertainment</a></li>
      <li><a href="#">Fashion and Beauty</a></li>
      <li><a href="#">Lifestyle</a></li>
      <li><a href="#">Books</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>
</nav>
<div class="container">
{{outlet}}
</div>
