stories

{{#each model as |story|}}
  {{#link-to 'story' story.id}}<h2>{{story.title}}</h2>{{/link-to}}
  {{#link-to 'story' story.id}}<img src={{story.image}} alt={{story.section}} />{{/link-to}}
{{/each}}
